<div class="nav-bar">

  <nav id="nav">
    <ul>

      {% for item in navBarItems %}

        {% include "@atoms/generic-nav-json-button-layout.twig" with {

          navClass: item.navClass,
          navStyle: item.navStyle,
          navLink: item.navLink,
          navText: item.navText

        } %}

      {% endfor %}

    </ul>

  </nav>

</div>
