<!-- <div class="middle-left-body">

</div> -->

<div class="4u 12u(medium)">
<!-- Box -->
	<section class="box feature">
		<a href="#" class="image featured"><img src="{{ imgSrc }}" alt=""></a>
		<div class="inner">
			<header>
				<h2>{{ headlineTag }}</h2>
				<p>{{ paragraphSubtitle }}</p>
			</header>
			<p>{{ paragraphDescription }}</p>
		</div>
	</section>

</div>
