{% for item in paragraphTextItems %}

  <h2 class="paragraph-text__title">{{ item.paragraphTextTitle }}</h2>
  <p class="paragraph-text__description">{{ item.paragraphTextDescription }}</p>

{% endfor %}
