<ul>

  {% for item in upperRightButtonItems %}
		<li>
      {% include "@atoms/generic-body-json-button-layout.twig" with {

        bodyButtonLink: item.bodyButtonLink,
        bodyButtonClass: item.bodyButtonClass,
        bodyButtonText: item.bodyButtonText

      } %}
		</li>
  {% endfor %}

</ul>
