<!-- <div class="bottom-footer">

</div> -->

<div id="footer-wrapper">
  <footer id="footer" class="container">

  	<div class="row">

      {% include "@molecules/bottom-left-footer.twig" %}

      {% include "@molecules/bottom-left-footer.twig" %}

      {% include "@molecules/bottom-right-footer.twig" %}

      {% include "@molecules/bottom-left-footer.twig" %}

      {% include "@molecules/bottom-copyright.twig" %}

  	</div>

  </footer>
</div>
