<!-- <div class="upper-body">

</div> -->

<div id="banner-wrapper">

  <div id="banner" class="box container">

  	<div class="row">

      <div class="7u 12u(medium)">

        {% include "@molecules/paragraph-text.twig" %}

      </div>

      <div class="5u 12u(medium)">

        {% include "@molecules/upper-right-body.twig" %}

      </div>

  	</div>

  </div>

</div>
