<!-- <div class="upper-body">

</div> -->

<div id="banner-wrapper">

  <div id="banner" class="box container">

  	<div class="row">

      {% include "@molecules/upper-left-body.twig" %}

      {% include "@molecules/upper-right-body.twig" %}

  	</div>

  </div>

</div>
