<body class="homepage">

	<div id="page-wrapper">

		{% include "@organisms/top-header.twig" %}

		{% include "@organisms/upper-body.twig" %}

		{% include "@organisms/middle-body.twig" %}

		{% include "@organisms/lower-body.twig" %}

		{% include "@organisms/bottom-footer.twig" %}

  </div>

</body>
